<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container mt-5">


    <h1>Edit Post <span th:text="${post.id}"></span</h1>

<!--    without form model binding-->
<!--    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="POST">-->

<!--        <div>-->
<!--            <label for="title">Title</label>-->
<!--            <input type="text" name="title" id="title" th:value="${post.title}">-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="body">Body</label>-->
<!--            <textarea name="body" id="body" th:text="${post.body}"></textarea>-->
<!--        </div>-->

<!--        <button>Update Post</button>-->

<!--    </form>-->

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:value="*{title}">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body" th:field="*{post}" th:value="*{post}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</body>
</html>