<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All Ads with Comments</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Ads with Comments</h1>-->

<!--    <div th:each="ad :${ads}">-->
<!--        <h3 th:text="${ad.title}"></h3>-->
<!--        <p th:text="${ad.description}"></p>-->
<!--        <ul>-->
<!--            <li th:each="comment : ${ad.comments}" th:text="${comment.content}"></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->