<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="main">
    <div class="container">
        <h2 class="text-center">Comments</h2>

        <div th:each="comment : ${comments}">
            <div class="card">
                <div class="card-header">
                    Comment
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${comment.content}"></h2>
                    <a class="btn btn-primary" th:href="@{'/reviews/' + ${comment.id}}">View Comment</a>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>