<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <ul class="list-group list-group-horizontal">
        <li class="nav-item list-group-item"><a class="nav-link" th:href="@{/}">Home</a></li>
        <li class="nav-item list-group-item"><a class="nav-link" th:href="@{/posts}">Posts</a></li>
        <li class="nav-item list-group-item"><a class="nav-link" th:href="@{/posts/create}">Create Posts</a></li>
        <li class="nav-item list-group-item"><a class="nav-link" th:href="@{/users/create}">Register</a></li>
        <li class="nav-item list-group-item"><a class="nav-link" th:href="@{/roll-dice}">Roll Dice</a></li>
        <th:block sec:authorize="!isAuthenticated()">
            <li list-group-item>
                <a th:href="@{/login}">Login</a>
            </li>
            <li list-group-item>
                <a th:href="@{/signup}">Sign Up</a>
            </li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
        <li list-group-item>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
        </th:block>
    </ul>
</nav>
</body>
</html>